<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="extentReport.extentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/tiego/OneDrive/Desktop/2026Project/JAVA/SeleniumJavaGroup42026">
        <classes>
            <class name="testRunners.NdosiWebsiteTests">
                <methods>
                    <include name="verifyHomeContentTest"/>
                    <include name="submitLoginDetailsTest"/>
                    <include name="verifyLoginFlowIsSuccessfulTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>